<!DOCTYPE html>
<html>

<head>
    <% include ./includes/header.ejs %>
</head>

<body>
    <% include ./includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
                <p>Cart of products</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <% if (orders.length <=0) { %>
                    <h1>Nothing there!</h1>
                    <% } else { %>
                        <% orders.forEach(order=> { %>
                            <div class="accordion" id="accordion-orders">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-heading-<%= order._id %>">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-<%= order._id %>"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapse-<%= order._id %>">
                                            Order - # <%= order._id %>
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapse-<%= order._id %>" class="accordion-collapse collapse"
                                        aria-labelledby="panelsStayOpen-heading-<%= order._id %>">
                                        <div class="accordion-body">
                                            <ul class="orders__products">
                                                <% order.products.forEach(p=> { %>
                                                    <li class="orders__products-item">
                                                        <%= p.product.title %> (<%= p.quantity %>)
                                                    </li>
                                                    <% }); %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    <% } %>
            </div>
        </div>

</body>

</html>