<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="logo" src="/images/BYUI-logo.png" width="30" height="24" alt="BYU Idaho logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%= path === '/' ? 'active' : ''%>" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Prove Assignemnts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="<%= path === '/pa01' ? 'active' : ''%>"><a class="dropdown-item"
                href="/proveAssignments/pa01">PA01</a></li>
            <li class="<%= path === '/pa02' ? 'active' : ''%>"><a class="dropdown-item"
                href="/proveAssignments/pa02">PA02</a></li>
            <li class="<%= path === '/pa03' ? 'active' : ''%>"><a class="dropdown-item"
                href="/project">PA03</a></li>
            <li class="<%= path === '/pa04' ? 'active' : ''%>"><a class="dropdown-item"
                href="/project">PA04</a></li>
            <li class="<%= path === '/pa08' ? 'active' : ''%>"><a class="dropdown-item"
                  href="/proveAssignments/pa08">PA08</a></li>
            <li class="<%= path === '/pa09' ? 'active' : ''%>"><a class="dropdown-item"
                  href="/proveAssignments/pa09">PA09</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project">Project</a>
        </li>
      </ul>
    </div>
  </div>
</nav>