<!DOCTYPE html>
<html>
<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
    <div class="container">
        <h1><%= title %></h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <h2>Details</h2>
            <br>
            <div class="d-flex justify-content-between">
                <span><b>Email:</b></span>
                <span><%= user.email %></span>
            </div>
            <hr>
            <% if (productCount > 0) { %>
                <div class="d-flex justify-content-between">
                    <span><b>Products:</b></span>
                    <span><%= productCount %></span>
                </div>
                <hr>
            <% } %>
            <div class="d-flex justify-content-between">
                <span><b>Orders:</b></span>
                <span><%= ordersCount %></span>
            </div>
            <hr>
        </div>
        <div class="col-12 col-md-6">
            <h2>Change Password</h2>
                <% include ../includes/errorMessage.ejs %>
                <form action="/project/change-password" method="post">
                    <div class="mb-3">
                        <label for="password" class="form-label">Old Password</label>
                        <div class="input-group">
                            <input type="password"
                            class="form-control <%= validationErrors.find(e=>e.param === 'password') ? 'is-invalid' : ''%>"
                            id="password" name="password" value="<%= oldInput.password %>" pattern="(?=^.{8,}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                            title="Password should be at least 8 characters long, contain at least one lowercase letter, one uppercase letter, and a special sign."
                            required>
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="changePasswordVisibility()">
                                <i id="password-eye" class="fas fa-eye d-none"></i>
                                <i id="password-eye-slash" class="fas fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <div class="input-group">
                            <input type="password"
                            class="form-control <%= validationErrors.find(e=>e.param === 'newPassword') ? 'is-invalid' : ''%>"
                            id="newPassword" name="newPassword" value="<%= oldInput.newPassword %>" pattern="(?=^.{8,}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                            title="Password should be at least 8 characters long, contain at least one lowercase letter, one uppercase letter, and a special sign."
                            required>
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="changeNewPasswordVisibility()">
                                <i id="newPassword-eye" class="fas fa-eye d-none"></i>
                                <i id="newPassword-eye-slash" class="fas fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword"
                        class="form-label <%= validationErrors.find(e=>e.param === 'password') ? 'is-invalid' : ''%>"
                        >Confirm Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                            value="<%= oldInput.confirmPassword %>"
                            pattern="(?=^.{8,}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                            title="Password should be at least 8 characters long, contain at least one lowercase letter, one uppercase letter, and a special sign."
                            required>
                            <button class="btn btn-outline-secondary" type="button" id="button-addon" onclick="changeconfirmPasswordVisibility()">
                                <i id="confirmPassword-eye" class="fas fa-eye d-none"></i>
                                <i id="confirmPassword-eye-slash" class="fas fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="count" id="count" value="<%= productCount %>">
                        <input type="hidden" name="ordersCount" id="ordersCount" value="<%= ordersCount %>">
                        <button type="submit" class="btn btn-primary w-100">Change Password</button>
                    </div>
                </form>
            <br>
        </div>
    </div>
</div>

</body>

<script>
    var seePassword = false
    var seeConfirmPassword = false
    var seeNewPassword = false
    function changePasswordVisibility() {
        document.getElementById('password').type = seePassword ? 'password' : 'text'
        var eye = document.getElementById('password-eye');
        var eye_slash = document.getElementById('password-eye-slash');
        if (seePassword) {
            eye.classList.add('d-none');
            eye_slash.classList.remove('d-none');
        } else {
            eye.classList.remove('d-none');
            eye_slash.classList.add('d-none');
        }
        seePassword = !seePassword;
    }
    function changeconfirmPasswordVisibility() {
        document.getElementById('confirmPassword').type = seeConfirmPassword ? 'password' : 'text'
        var eye = document.getElementById('confirmPassword-eye');
        var eye_slash = document.getElementById('confirmPassword-eye-slash');
        if (seeConfirmPassword) {
            eye.classList.add('d-none');
            eye_slash.classList.remove('d-none');
        } else {
            eye.classList.remove('d-none');
            eye_slash.classList.add('d-none');
        }
        seeConfirmPassword = !seeConfirmPassword;
    }
    function changeNewPasswordVisibility() {
        document.getElementById('newPassword').type = seeNewPassword ? 'password' : 'text'
        var eye = document.getElementById('newPassword-eye');
        var eye_slash = document.getElementById('newPassword-eye-slash');
        if (seeNewPassword) {
            eye.classList.add('d-none');
            eye_slash.classList.remove('d-none');
        } else {
            eye.classList.remove('d-none');
            eye_slash.classList.add('d-none');
        }
        seeNewPassword = !seeNewPassword;
    }
</script>

</html>
